[Unit]
Description=Blinkstick Audio LED Visualizer - django_node
After=network.target

[Service]
Type=simple
User=pi
Environment=PYTHONUNBUFFERED=TRUE
WorkingDirectory=/home/pi/django-blinkstick-audio-led-visualizer
ExecStartPre=/bin/bash -c ./pulseaudio.sh
ExecStartPre=/bin/bash -c ./boot_workers.sh
ExecStart=/bin/bash -c ./prod.sh
ExecStop=/bin/bash -c ./stop.sh
KillMode=process
KillSignal=SIGKILL
RemainAfterExit=no
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
