#jinja2: trim_blocks:False
[Unit]
{%- if inventory_hostname in groups['receive_nodes'] %}
Description=Blinkstick Audio LED Visualizer - receive_node
{%- elif inventory_hostname in groups['transmit_node'] %}
Description=Blinkstick Audio LED Visualizer - transmit_node{% else %}{% endif %}
After=network.target

[Service]
Type=simple
User={{ user }}
Environment=PYTHONUNBUFFERED=TRUE
WorkingDirectory=/home/{{ user }}/{{ app_name }}
{%- if inventory_hostname in groups['receive_nodes'] %}
ExecStart={{ python3 }} visualizer.py --receive --interface {{ network_iface }}
{%- elif inventory_hostname in groups['transmit_node'] %}
ExecStartPre=/usr/bin/screen -dmS pulseaudio_watcher ./pulseaudio.sh
ExecStart={{ python3 }} visualizer.py --modes {{ visualization_modes }} --transmit {% if input_only_mode == True %}--inputonly{% else %}{% endif %}
{%- endif %}
KillMode=process
KillSignal=SIGKILL
RemainAfterExit=no
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

